<main class="m-5">

  <section>
    {{#with navigation}}
    {{#with links}}
    <div class="nav">
      <div class="nav-item">
        <a href="{{[0].href}}" class="nav-link">{{[0].text}}</a>
      </div>
      <div class="nav-item">
        <a href="{{[1].href}}" class="nav-link">{{[1].text}}</a>
      </div>
      <div class="nav-item">
        <a href="{{[3].href}}" class="nav-link disabled">{{[2].text}}</a>
      </div>
    </div>
    {{/with}}
    {{/with}}
    <hr>

  </section>

  <section>
    <div class="my-5">
      {{#with header}}
      <h2>{{title}}</h2>
      <div>
        <div>
          {{#with button}}
          <button class="btn btn-outline-secondary" href="{{link}}">{{text}}</button>
          {{/with}}
        </div>
      </div>
      {{/with}}
    </div>
    <hr class="my-5">
  </section>

  <section>
    <div class="my-5">
      {{#each goodsBlock}}
      {{> cartGoodsItem}}
      {{/each}}
    </div>
    <hr class="my-5">
  </section>

  <section>
    {{#with total}}
    <div>
      <h4>{{title}}</h4>
      <h3>{{amount}}</h3>
      <sup>{{delivery}}</sup><br>
    </div>
    <div>
      {{#each buttons}}
      <div class="my-3">
        {{#if isSuccess}}
        <button href="{{link}}" class="btn btn-success">{{text}}</button>
        {{else}}
        <button href="{{link}}" class="btn btn-outline-success">{{text}}</button>
        {{isSuccess}}
        {{/if}}
      </div>
      {{/each}}
    </div>
    {{/with}}
    <hr class="my-5">
  </section>

  <section>
    <div>
      {{#with goodsOtherBlock}}
      <h4 class="text-center">{{title}}</h4>
      <div class="row">
        {{#each cards}}
        <div class="col-4">
          <div class="card my-3">
            <img class="card-img-top" src={{image}} alt="image">
            <div class="card-body">
              <div class="card-title">
                <h5>{{title}}</h5>
                {{#if isHot}}
                <h4 class="badge text-bg-warning">HOT!</h4>
                {{/if}}
                {{#if isNew}}
                <h4 class="badge text-bg-primary">Новe</h4>
                {{/if}}
              </div>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/with}}
    </div>
    <hr class="my-5">
  </section>

  <section>
    <div>
      {{#with subscribe}}
      <div class="row">
        <div class="col-12">
          <div class="card text-bg-dark p-2">
            <h2>{{header}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <div class="col-3 m-1">
              <a href=" {{link}}" class="btn btn-primary ">{{text}}</a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{/with}}
    </div>
    <hr class="my-5">
  </section>

  <section>
    <div class="row">
      <div class="col-2">
        <div class="nav flex-column">
          {{#each footer.[0]}}
          <div class="nav-item">
            <div>
              <a href="{{link}}" class="nav-link {{#if @last}} disabled{{/if}}">{{text}}</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-2">
        <div class="nav flex-column">
          {{#each footer.[1]}}
          <div class="nav-item">
            <div>
              <a href="{{link}}" class="nav-link {{#if @last}} disabled{{/if}}">{{text}}</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-2">
        <div class="nav flex-column">
          {{#each footer.[2]}}
          <div class="nav-item">
            <div>
              <a href="{{link}}" class="nav-link {{#if @last}} disabled{{/if}}">{{text}}</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-2">
        <div class="nav flex-column">
          {{#each footer.[3]}}
          <div class="nav-item">
            <div>
              <a href="{{link}}" class="nav-link {{#if @last}} disabled{{/if}}">{{text}}</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-2">
        <div class="nav flex-column">
          {{#each footer.[4]}}
          <div class="nav-item">
            <div>
              <a href="{{link}}" class="nav-link {{#if @last}} disabled{{/if}}">{{text}}</a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

  </section>

</main>