{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{!-- <header>
        <div>
            <h1>{{name.firstname}} {{name.lastndname}}</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>{{salary}}</em>
        </div>
        <br>
        <hr>
    </header> --}}

    {{!-- <nav>
        <a href="/skills">Skills</a>
        <a href="/summary">Summary</a>
    </nav> --}}
    {{#with main}}

    <main class="card">
        <div class="row m-3">
            <section class="col-6">
                <button class="btn btn-warning">
                    {{> title data="All skills" big=true}}
                </button>
                <ul>
                    {{!-- <li>{{main.skills.[0]}}</li> --}}
                    {{#each skills}}
                    <li>
                        {{name}}
                        {{#if point includeZero=true}} ({{point}}) {{/if}}
                        {{#if isTop}}(Top){{/if}}
                        {{#unless point includeZero=true}} (не вивчаємо){{/unless}}
                        {{#unless point}}
                        {{#if point includeZero=true}}(зараз вивчаємо){{/if}}
                        {{/unless}}
                    </li>
                    {{/each}}
                </ul>
            </section>

            <section class="col-6">
                <button class="btn btn-warning">
                    {{> title data='My hobbies' big=false}}
                </button>
                <ol>
                    {{#each hobbies}}
                    <li>
                        {{name}}
                        {{#if isMain}} (favourite){{/if}}
                    </li>
                    {{/each}}
                </ol>
            </section>
        </div>
    </main>
    {{/with}}

    {{!-- <footer>
        <hr>
        <br>
        <a href="{{social.email.href}}">{{social.email.text}}</a> /
        <a href="{{social.phone.href}}">{{social.phone.text}}</a> /
        <a href="{{social.linkedin.href}}" target="_blank">{{social.linkedin.text}}</a>
    </footer> --}}
    {{!-- <footer>
        <hr>
        <br>
        {{#with social}}
        <a href="{{email.href}}">{{email.text}}</a> /
        <a href="{{phone.href}}">{{phone.text}}</a> /
        <a href="{{linkedin.href}}" target="_blank">{{linkedin.text}}</a>
        {{/with}}
    </footer> --}}

    {{!-- <footer>
        <hr>
        <br>
        {{#with social}}

        {{#with email}}
        {{> link}}
        {{/with}}

        {{#with phone}}
        {{> link}}
        {{/with }}

        {{#with linkedin}}
        {{> link}}
        {{/with}}

        {{/with}}
    </footer> --}}

    {{!-- <footer>
        <hr>
        <br>
        {{#with social}}
        {{> link data=email}}
        {{> link data=phone}}
        {{> link data=linkedin}}
        {{/with}}
    </footer> --}}


</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}