{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{!-- <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}}</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>{{salary}}</em>
        </div>
        <br>
        <hr>
    </header> --}}

    {{!-- <nav>
        <a href="/skills">Skills</a>
        <a href="/summary">Summary</a>
    </nav> --}}




    {{#with main}}
    <main class="row">

        <section class="col-6">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                {{> title data=summary.title big=true}}
            </a>
            <div>
                <p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {{summary.text}}
                    </div>
                </div>
                </p>
            </div>
        </section>


        {{#with experience}}
        <section class="col-6">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                {{> title data=title big=false}}
            </a>
            <div>
                <p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {{text}}
                    </div>
                </div>
                </p>
            </div>
        </section>
        {{/with}}

    </main>
    {{/with}}

    {{!-- <footer>
        <hr>
        <br>
        <a href="{{social.email.href}}">{{social.email.text}}</a> /
        <a href="{{social.phone.href}}">{{social.phone.text}}</a> /
        <a href="{{social.linkedin.href}}" target="_blank">{{social.linkedin.text}}</a>
    </footer> --}}
    {{!-- <footer>
        <hr>
        <br>
        {{#with social}}
        <a href="{{email.href}}">{{email.text}}</a> /
        <a href="{{phone.href}}">{{phone.text}}</a> /
        <a href="{{linkedin.href}}" target="_blank">{{linkedin.text}}</a>
        {{/with}}
    </footer> --}}

    {{!-- <footer>
        <hr>
        <br>
        {{#with social}}

        {{#with email}}
        {{> link}}
        {{/with}}

        {{#with phone}}
        {{> link}}
        {{/with }}

        {{#with linkedin}}
        {{> link}}
        {{/with}}

        {{/with}}
    </footer> --}}

    {{!-- <footer>
        <hr>
        <br>
        {{#with social}}
        {{> link data=email}}
        {{> link data=phone}}
        {{> link data=linkedin}}
        {{/with}}
    </footer> --}}


</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}