<div class="card mb-2">
    <img class="card-img-top" src={{img}} alt="image">
    <div class="card-body">
        <div class="card-title">
            <h5>{{title}}</h5>
            {{#if isHot}}
            <h4 class="badge text-bg-warning text-light">HOT!</h4>
            {{/if}}
            {{#if isNew}}
            <h4 class="badge text-bg-primary">Новe</h4><br>
            {{/if}}
            {{#if isFast}}
            <h4 class="badge text-bg-success">Швидка доставка</h4><br>
            {{/if}}
            {{#if isFree}}
            <h4 class="badge text-bg-secondary">Безкоштовна доставка</h4>
            {{/if}}
        </div>
        <h4>{{name}}</h4>
        {{#with review}}
        <p>{{amount}} {{text}}</p>
        {{/with}}
        <h4>{{price}}</h4>
        <p>{{delivery}}</p>
        {{#each buttons}}
        {{#if isPrimary}}
        <a href="{{link}}" class="btn btn-primary mb-2">{{text}}</a>
        {{else}}
        <a href="{{link}}" class="btn btn-secondary mb-2">{{text}}</a>
        {{/if}}
        {{/each}}
        {{#each characteristics}}
        <ul>
            <li>
                {{title}}{{value}}
            </li>
        </ul>
        {{/each}}
    </div>
</div>