{{!-- {{#with footer}}
<footer>
    <div>
        {{#with social}}
        {{> link text=email.text href=email.href blank=true}}
        {{> link text=phone.text href=phone.href blank=true}}
        {{> link text=linkedin.text href=linkedin.href blank=true noLine=true}}
        {{/with}}
    </div>
    <br>
    {{#with ../header}}
    <div>
        <em>Copyright by {{name.firstname}} {{name.lastname}}</em>
    </div>
    <br>
    <div>
        <address>
            <em>{{address}}</em>
        </address>
    </div>
    {{/with}}
</footer>
{{/with}} --}}


{{!-- =================================== --}}

<footer>
    <div>
        {{#with social}}
        {{> link text=email.text href=email.href blank=true}}
        {{> link text=phone.text href=phone.href blank=true}}
        {{> link text=linkedin.text href=linkedin.href blank=true noLine=true}}
        {{/with}}
    </div>
    <br>
    <div>
        <em>Copyright by {{firstname}} {{lastname}}</em>
    </div>
    <br>
    <div>
        <address>
            <em>{{address}}</em>
        </address>
    </div>
</footer>