<div class="my-3">
    {{#each itemList}}
    <div class="row">
        <div class="col-3">
            {{number}}
            <b>{{status}}</b>
        </div>
        <div class="col-2">
            {{#with amount}}
            {{title}}: <br><b>{{value}}</b>
            {{/with}}
        </div>
        <div class="col-5">
            {{#each images}}
            <img class="me-1" style="border-radius: 0.375rem" src="{{this}}" alt="image">
            {{/each}}
        </div>
        <div class="col-2 mt-4">
            {{#with button}}
            {{#if isPrimary}}
            <button href="{{link}}" class="btn btn-primary">{{text}}</button>
            {{/if}}
            {{/with}}
        </div>
    </div>
    <hr class="mb-4">
    {{/each}}
</div>